@import "../../shared/variables.scss";

.sidebar {
  .innerSidebar {
    align-content: center;
    align-self: center;
    background: rgb(16, 131, 134);
    background: -moz-linear-gradient(
      180deg,
      rgba(16, 131, 134, 1) 0%,
      rgba(36, 46, 93, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(16, 131, 134, 1) 0%,
      rgba(36, 46, 93, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(16, 131, 134, 1) 0%,
      rgba(36, 46, 93, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#108386",endColorstr="#242e5d",GradientType=1);
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(45) rem(30);
    text-align: center;

    @media screen and (min-width: 992px) {
      margin-left: 1rem;
    }
  }

  @media screen and (min-width: 992px) {
    margin: 0 0 0 auto;
  }

  p {
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;

    a {
      color: #fff;
    }

    &.borderBottom {
      border-bottom: 1px solid #fff;
      padding: rem(30) 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  .callButton {
    background: transparent;
    border-radius: rem(10);
    border: 1px solid #fff;
    font-size: 20px;
    margin-top: rem(35);
    padding: 1rem 1.5rem;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      border: 1px solid #fff;
      text-decoration: underline;
    }
  }
}

.pageContent {
  color: $gray;
  padding-bottom: 3rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #606060;
    clear: both;
    margin-bottom: 1rem;
  }

  a {
    color: $primary-color;

    &:hover {
      color: $brighter-primary;
    }
  }
}
