.navBar {
  background: rgb(16, 131, 134);
  background: -moz-linear-gradient(
    180deg,
    rgba(16, 131, 134, 1) 0%,
    rgba(36, 46, 93, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(16, 131, 134, 1) 0%,
    rgba(36, 46, 93, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(16, 131, 134, 1) 0%,
    rgba(36, 46, 93, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#108386",endColorstr="#242e5d",GradientType=1);
  padding: 0.5rem 1rem;

  .toggle {
    background: #fff;
    color: #fff;

    span {
      color: #fff;
    }
  }
}
