@import "./src/shared/mixins/buttons";
@import "./src/shared/mixins/background-image";
.genericSection {
  color: #707070;
  padding: 5em 0;

  .verticalCenter {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  img {
    border: 1px solid #fff;
  }

  .blueBorder img {
    border: 1px solid #118285 !important;
  }

  h2 {
    color: #1d4e6c;
    font-family: "Helvetica Neue Medium", sans-serif;
    margin-top: 25px;

    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  p {
    strong {
      color: $primary-color;
    }
  }

  .buttonBottom {
    @media screen and (min-width: 1200px) {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }
  }

  .homeImg {
    @media screen and (min-width: 1200px) {
      margin-bottom: 47px;
    }
  }

  .mainBtn {
    @include buttonMain();
  }

  .secondaryBtn {
    @include buttonSecondary();
  }

  .mobileReverse {
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }
}

.breakSection {
  background-color: #c5d9e7;

  h2 {
    font-size: 28px;
  }
}

.section1 {
  padding: 4rem 0;

  @media screen and (max-width: 992px) {
    padding-top: 48%;
    padding-bottom: 1rem;
  }

  .row {
    flex-direction: column;
    padding: 0 1.5rem;

    @media screen and (min-width: 992px) {
      flex-direction: row;
      padding: 0;
    }
    .text {
      color: #004987;

      @media screen and (min-width: 992px) {
        color: #0e79bf;
        max-width: 350px;
      }

      h1 {
        color: #242e5d;
        font-family: "Helvetica Neue Medium", sans-serif;
        font-size: 32px;
        line-height: 2.7rem;
      }

      p {
        color: #54565a;

        @media screen and (min-width: 992px) {
          color: #707070;
        }
      }
    }

    .heroForm {
      align-content: center;
      align-self: center;
      background: rgb(17, 130, 133);
      background: -moz-linear-gradient(
        180deg,
        rgba(17, 130, 133, 0.8) 0%,
        rgba(36, 46, 93, 0.8) 100%
      );
      background: -webkit-linear-gradient(
        180deg,
        rgba(17, 130, 133, 0.8) 0%,
        rgba(36, 46, 93, 0.8) 100%
      );
      background: linear-gradient(
        180deg,
        rgba(17, 130, 133, 0.8) 0%,
        rgba(36, 46, 93, 0.8) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#118285",endColorstr="#242e5d",GradientType=1);
      border: 1px solid #fff;
      border-radius: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto 35px auto;
      max-width: rem(370);
      padding: rem(45) rem(30);
      text-align: center;

      @media screen and (min-width: 992px) {
        margin: 0 0 0 auto;
      }

      p {
        font-size: 20px;
        text-transform: uppercase;

        a {
          color: #fff;
        }

        &.borderBottom {
          border-bottom: 1px solid #fff;
          padding-bottom: rem(20);
        }
      }
    }
  }
}

.section2 {
  background: #1d4e6c;
  color: #fff;

  h2,
  p {
    color: #fff;
  }
}

.blueSection {
  background: #1d4e6c;
  color: #fff;

  h2,
  p {
    color: #fff;
  }
}

.insurances {
  display: grid;
  gap: 1em;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  margin: 2em 0;

  &::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .insuranceItem {
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    border: none;
    max-width: 400px;
    width: 100%;
  }
}

.testimonialSlider {
  color: #00aeef;
  font-size: 25px;

  p {
    padding: 0 1em;

    .author {
      color: $gray;
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-top: 25px;
    }
  }
}

.callOut {
  background: rgb(247, 247, 247);
  background: -moz-linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(222, 222, 222, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(222, 222, 222, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(222, 222, 222, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#dedede",GradientType=1);
  color: #242e5d;
  font-size: 24px;
  padding: 1em 0;
}

.lightBack {
  background-color: #fbfbfb;
}

.contactSection {
  padding: 150px 0;

  .formContainer {
    background: rgb(0, 110, 112);
    background: -moz-linear-gradient(
      180deg,
      rgba(0, 110, 112, 0.8) 0%,
      rgba(6, 7, 10, 0.8) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 110, 112, 0.8) 0%,
      rgba(6, 7, 10, 0.8) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(0, 110, 112, 0.8) 0%,
      rgba(6, 7, 10, 0.8) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006e70",endColorstr="#06070a",GradientType=1);
    border-radius: 10px;
    color: #fff;
    margin: auto;
    max-width: 500px;
    padding: 50px 30px;

    h2 {
      text-align: center;
      color: #fff;
      font-weight: bold;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    p {
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;

      &.borderBottom {
        border-bottom: 1px solid #fff;
        padding-bottom: rem(20);
      }
    }

    a {
      color: #fff;
    }
  }
}

.noBorder {
  margin: auto;
  max-width: 1200px;

  img {
    border: none !important;
    margin: auto;
  }
}
