@import "../../shared/variables.scss";

.page-header {
  height: 150px;
  background: rgb(247, 247, 247);
  background: -moz-linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(222, 222, 222, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(222, 222, 222, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(222, 222, 222, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#dedede",GradientType=1);
  display: flex;
  align-items: center;

  @media screen and (min-width: 767px) {
    height: 100px;
  }

  h1 {
    color: #242e5d;
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
